#navbar {
    box-shadow: 0px 0px 10px 1px var(--gray3);
}

#navbar div {
    display: flex;
    align-items: center;
    /* Esto alineará verticalmente el logo y los links */
    justify-content: space-between;
    /* Mantiene el nombre a la izquierda y links a la derecha */
}

#navbar div a {
    padding: 1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
}

#navbar div a:hover {
    transform: scale(1.1);
    transition: all .3s ease;
}


#navbar div img {
    margin-right: .5rem;
}

.hidden {
    display: none;
}

.links {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 0;
    padding: 0;
}

#navbar ul a:hover,
#navbar ul a:focus {
    color: var(--black);
    background-color: var(--white);
}

#navbar li {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0 1rem;
    list-style: none;
}

#navbar ul a {
    text-decoration: none;
    color: var(--white);
    transition: color .3s ease, background-color .3s ease;
}

.navbar-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

#toggle:hover {
    background-color: var(--black);
}

#active {
    background-color: var(--primary-dark);
}

@media (max-width: 576px) {
    #navbar button {
        display: block;
        background-color: transparent;
        color: var(--white);
        font-size: 1.5rem;
        padding: .2rem .7rem;
        margin: .7rem;
        border: none;
        cursor: pointer;
    }

    #navbar button:hover {
        transform: scale(1.1);
        transition: all .3s ease;
    }

    #navbar.open button {
        color: var(--white);
        border-radius: 2rem;
    }

    #navbar ul {
        flex-direction: column;
        background: linear-gradient(var(--primary), var(--primary-dark));
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding: 0;
        margin: 0;
        max-height: 0;
        transition: max-height .3s ease;
        position: absolute;
        width: 100%;
        overflow: hidden;
    }

    #navbar ul a {
        display: block;
        padding: 10px 15px;
    }

    #navbar.open ul {
        max-height: 150px;
    }

}